/* Top header */
.main-section header {
    background-image: linear-gradient(to right, rgba(78, 74, 51, 0.405) , rgba(63,88,138,0.51) 100%) !important;
}


/* Page header */
.page-head {
    background-image: linear-gradient(to right, #bdb591 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
    background-image: linear-gradient(to right, #bdb591 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}

.navbar .navbar-nav .dropdown-item {
    background-image: linear-gradient(to right, #bdb591 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}
/*page footer*/
.no-breadcrumbs {
    background-image: linear-gradient(to right, #bdb591 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}

.modal .modal-header {
    background-image: linear-gradient(to right, #bdb591 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}

.modal .modal-body {
    background-image: linear-gradient(to right, #bdb591 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}


/* Indicator pill */
.codex-editor div .indicator-pill {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}


/* small buttons*/
.btn.icon-btn.btn-default {
    box-shadow: 0px 0px 10px 1px #0023ff63 !important; 
}


/* input fields*/
input {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}


input:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


.search-bar .awesomplete ul {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.search-bar .awesomplete ul:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}



.awesomplete div:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important; 
}



.awesomplete li:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}




.page-form .awesomplete > ul {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.page-form .awesomplete > ul:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


/* sidebar colors*/
.col-lg-2 {
    background-image: linear-gradient(to right, rgba(189,181,145,0.39) 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}

.col-lg-2:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}

/* sidebar slide colors*/
.layout-side-section .overlay-sidebar.opened {
    background-image: linear-gradient(to right, rgba(189,181,145,0.39) 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}




/* sidebar list filter shadow*/
.list-sidebar .dropdown-menu .dropdown-item {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.list-sidebar .dropdown-menu .dropdown-item:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}

#page-Workspaces .layout-side-section {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
    border-radius: 10px !important; 
}

#page-Workspaces .layout-side-section:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


/* Background colors */
.page-container {
    background-image: linear-gradient(to right, #bdb591 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}




#navbar-breadcrumbs a:hover{
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}


.navbar-home img:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


/* Side panel borders */
.layout-side-section {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
    border-radius: 10px !important;
}

.layout-side-section:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}

.layout-side-section .overlay-sidebar.opened {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
    border-radius: 10px !important; 
}


.layout-main-section {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}


.layout-main-section:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}

/* Icons shadow */
.icon {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.icon:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


.spacer {
    background-image: linear-gradient(to right, rgba(189,182,145,0.33) 0%, rgba(242,242,242,0.5) 25%, rgba(219,219,219,0.68) 50%, #eaeaea 100%) !important;
}

.awesomplete .input-with-feedback {
    border: 1px solid blue !important;
}

.awesomplete .input-with-feedback:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


.ellipsis.input-with-feedback {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.ellipsis.input-with-feedback:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


.notifications-seen .icon-sm:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}
  






/* Main button */
.btn-primary {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}


.btn-primary:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}



/* second button */
.btn-secondary {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}


.btn-secondary:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


/* list tree menu */
.page-actions .btn .hidden-xs {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.page-actions .btn .hidden-xs:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


.dropdown-menu.show {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.dropdown-menu.show:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}




/*filter*/
.filter-selector {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.filter-selector:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


.sort-selector {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.sort-selector:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}




/* create workspace button */
#page-Workspaces .btn-default.ellipsis {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

#page-Workspaces .btn-default.ellipsis:hover{
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}






/* Navbar search */
#navbar-search {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

#navbar-search:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}
  



/* Div borders */
.codex-editor .ce-block .ce-block__content div .widget {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.codex-editor .ce-block .ce-block__content div .widget:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}













/* print format */
.print-heading {
    background-color: #bbdbf4 !important;
    vertical-align: middle !important;
    text-align: center;
	text-transform: uppercase;
	color: #be1b1b;
	padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

/* head title font size */
.print-heading h2 {
	font-size: 24px;
}

.sub-heading {
    color: #43a454; 
}


/* Table borders */
.table th,
.table td {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgba(67,76,212,0.45) !important;
}


/* table header */
.table th,
.table-bordered,
.print-format th,
.table-bordered th {
    background-color: #bad6eb !important;
    vertical-align: middle !important;
    text-align: center !important;
    color: rgb(150, 47, 47);
}

/* table data */
.table td,
.table-bordered,
.print-format td,
.table-bordered td {
    background-color: #ffffff !important;
    vertical-align: middle !important;
    text-align: center !important;
    color: rgb(66, 75, 212);
}

.print-format .primary.compact-item {
    font-weight: bold;
}



/* print.bundle.scss */
/* Only add padding on the right side */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    vertical-align: middle !important;
    text-align: center !important;
    color: inherit;
    display: inline;
    padding-right: 18px;
}

/* fit table width to print size */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}


/* avoid partial cutting of text between page break */
table td div {
    page-break-inside: avoid !important;

}




/* Div borders */
.codex-editor .ce-block .ce-block__content div .widget {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.codex-editor .ce-block .ce-block__content div .widget:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}





/*chat*/
.chat-list-header {
    background-image: linear-gradient(to right, #bdb591 0%, #f2f2f2 25%, #dbdbdb 50%, #eaeaea 100%) !important;
}

.chat-search-box {
    box-shadow: 0px 0px 10px 1px #953d3d6b !important;
}

.chat-search-box:hover {
    box-shadow: 0px 0px 10px 1px  #466a47 !important;
}


.chat-rooms-container {
    background-image: linear-gradient(to right, rgba(189,181,145,0.32) 0%, rgba(242,242,242,0.45) 25%, rgba(219,219,219,0.38) 50%, rgba(234,234,234,0.44) 100%) !important;
}

